$primary_color:#242F51;
$text_color:#83869D;
$brand_color:#815DF5;
$light_bg:#FBFBFC;
$fff:#fff;
$green:#34A853;
$blue:#42A5F5;
$yellow:#FFA727;
$pink:#F06292;
$dark_bg1:#232732;
$dark_bg2:#181B23;

$big_font:'Quicksand',
sans-serif;

$box_shadow:0px 10px 23px rgba(0, 0, 0, 0.12);
$btn_shadow:0px 9px 20px rgba(128, 84, 207, 0.39);
$btn_shadow_hover:0px 10px 25px rgba(127, 84, 207, 0.699);

$t:.4s;
